* {
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
}

section {
  display: flex;
  align-content: center;
  justify-content: space-around;
}

h1 {
  border: 2px black solid;
  background-color: whitesmoke;
  margin: 0px auto;
  font-size: 50px;
  margin-bottom: 30px;
  padding-left: 30px;
}

#left-section {
  width: 40%;
}

#right-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#right-section input {
  margin-bottom: 15px;
  height: 30px;
  width: 60%;
}

#right-section h2 {
  font-size: 30px;
}

#left-section #heading {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#unordered-list ul {
  border: 2px black solid;
  margin: 0 auto;
  width: 80%;
  padding: 0;
}

#unordered-list ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

#unordered-list ul li:nth-child(odd) {
  background-color: whitesmoke;
}

button {
  width: 70px;
  height: 30px;
  background-color: white;
}

footer {
  border: 2px black solid;
  position: absolute;
  bottom: 0px;
  width: 99%;
  margin: 0px auto;
  padding-left: 30px;
  background-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  h1 {
    border: 2px black solid;
    background-color: whitesmoke;
    margin: 0px auto;
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
  }

  #left-section {
    width: 95%;
  }
  
  #right-section {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  #right-section input {
    margin-bottom: 15px;
    height: 30px;
    width: 60%;
  }
  
  #right-section h2 {
    font-size: 30px;
  }
  
  #left-section #heading {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  
}
